<div class="container">
  <% if @ebook.created? %>
    <div class="mt-1 mb-1">
      <%= link_to 'Generate ebook', generate_ebook_path(@ebook.slug), method: :post, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>

  <% if @ebook.in_progress? %>
    <div class="alert alert-danger" role="alert">
      <h1>Refresh the page to check if ebook is generated</h1>
    </div>
  <% end %>

  <p>
    <% if @ebook.epub_file.present? %>
      <div class="mt-1 mb-1">
        <%= link_to 'Download Epub', rails_blob_path(@ebook.epub_file, disposition: "attachment"), class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </p>

  <div class="d-flex justify-content-between">
    <h3>
      <%= @ebook.title %>
      <span class="badge badge-secondary"><%= @ebook.status.humanize %></span>
    </h3>

    <% if @ebook.created? %>
      <%= link_to 'Cancel', ebook_path(@ebook.slug), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <p>
    <strong>Urls:</strong>
  </p>

  <ul>
    <% @ebook.urls.split("\n").each do |url| %>
      <li>
        <%= link_to url, url %>
      </li>
    <% end %>
  </ul>
</div>